<IfModule mod_rewrite.c>
	<IfModule mod_negotiation.c>
		Options -MultiViews
	</IfModule>

	RewriteEngine On

	# non-www to www
	# RewriteCond %{HTTP_HOST} !^localhost:8081
	# RewriteRule (.*) http://localhost:8081/$1 [R=301,L]

	# other rules
	#RewriteRule ^(.*)/$ /$1 [L,R=301]

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [L]
</IfModule>
 